/*****************/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 20px;
  margin-bottom: 25px;
  line-height: inherit;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
output {
  display: block;
  padding-top: 16px;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
form select,
form textarea,
form input[type="text"],
form input[type="password"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="number"],
form input[type="email"],
form input[type="url"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
.form-field {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  line-height: 1.2;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
form select:focus,
form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
.form-field:focus {
  outline: 0;
}
form select:focus,
form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
.form-field:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
form select::placeholder,
form textarea::placeholder,
form input[type="text"]::placeholder,
form input[type="password"]::placeholder,
form input[type="datetime"]::placeholder,
form input[type="datetime-local"]::placeholder,
form input[type="date"]::placeholder,
form input[type="month"]::placeholder,
form input[type="time"]::placeholder,
form input[type="week"]::placeholder,
form input[type="number"]::placeholder,
form input[type="email"]::placeholder,
form input[type="url"]::placeholder,
form input[type="search"]::placeholder,
form input[type="tel"]::placeholder,
form input[type="color"]::placeholder,
.form-field::placeholder {
  color: #999;
}
form select::-moz-placeholder,
form textarea::-moz-placeholder,
form input[type="text"]::-moz-placeholder,
form input[type="password"]::-moz-placeholder,
form input[type="datetime"]::-moz-placeholder,
form input[type="datetime-local"]::-moz-placeholder,
form input[type="date"]::-moz-placeholder,
form input[type="month"]::-moz-placeholder,
form input[type="time"]::-moz-placeholder,
form input[type="week"]::-moz-placeholder,
form input[type="number"]::-moz-placeholder,
form input[type="email"]::-moz-placeholder,
form input[type="url"]::-moz-placeholder,
form input[type="search"]::-moz-placeholder,
form input[type="tel"]::-moz-placeholder,
form input[type="color"]::-moz-placeholder,
.form-field::-moz-placeholder {
  opacity: 1;
}
form select[disabled],
form textarea[disabled],
form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="date"][disabled],
form input[type="month"][disabled],
form input[type="time"][disabled],
form input[type="week"][disabled],
form input[type="number"][disabled],
form input[type="email"][disabled],
form input[type="url"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="color"][disabled],
.form-field[disabled],
form select[readonly],
form textarea[readonly],
form input[type="text"][readonly],
form input[type="password"][readonly],
form input[type="datetime"][readonly],
form input[type="datetime-local"][readonly],
form input[type="date"][readonly],
form input[type="month"][readonly],
form input[type="time"][readonly],
form input[type="week"][readonly],
form input[type="number"][readonly],
form input[type="email"][readonly],
form input[type="url"][readonly],
form input[type="search"][readonly],
form input[type="tel"][readonly],
form input[type="color"][readonly],
.form-field[readonly],
fiseldset[disabled] form select,
fiseldset[disabled] form textarea,
fiseldset[disabled] form input[type="text"],
fiseldset[disabled] form input[type="password"],
fiseldset[disabled] form input[type="datetime"],
fiseldset[disabled] form input[type="datetime-local"],
fiseldset[disabled] form input[type="date"],
fiseldset[disabled] form input[type="month"],
fiseldset[disabled] form input[type="time"],
fiseldset[disabled] form input[type="week"],
fiseldset[disabled] form input[type="number"],
fiseldset[disabled] form input[type="email"],
fiseldset[disabled] form input[type="url"],
fiseldset[disabled] form input[type="search"],
fiseldset[disabled] form input[type="tel"],
fiseldset[disabled] form input[type="color"],
fiseldset[disabled] .form-field {
  cursor: not-allowed;
  background-color: #eee;
}
form select.radius,
form textarea.radius,
form input[type="text"].radius,
form input[type="password"].radius,
form input[type="datetime"].radius,
form input[type="datetime-local"].radius,
form input[type="date"].radius,
form input[type="month"].radius,
form input[type="time"].radius,
form input[type="week"].radius,
form input[type="number"].radius,
form input[type="email"].radius,
form input[type="url"].radius,
form input[type="search"].radius,
form input[type="tel"].radius,
form input[type="color"].radius,
.form-field.radius {
  border-radius: 2px;
}
form select.round,
form textarea.round,
form input[type="text"].round,
form input[type="password"].round,
form input[type="datetime"].round,
form input[type="datetime-local"].round,
form input[type="date"].round,
form input[type="month"].round,
form input[type="time"].round,
form input[type="week"].round,
form input[type="number"].round,
form input[type="email"].round,
form input[type="url"].round,
form input[type="search"].round,
form input[type="tel"].round,
form input[type="color"].round,
.form-field.round {
  border-radius: 500px;
}
.form-group {
  margin-bottom: 15px;
}
.form textarea,
.form select[multiple],
.form select[size] {
  height: auto;
}
.form select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -webkit-border-radius: 2px;
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+") no-repeat 100% center;
}
.form select[multiple="multiple"] {
  background-image: none;
}
.form-help {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #999;
  font-size: 13px;
}
.form-file {
  position: relative;
  overflow: hidden;
}
.form-file input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  font-size: 50px;
}
.form-label {
  margin-bottom: 0;
  vertical-align: middle;
}
/* Checkboxes and radios 块级显示时 */
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.radio label,
.checkbox label {
  min-height: auto;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  outline: none;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
/* Radios and checkboxes inline  行内显示时*/
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.form-horizontal .form-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.form-horizontal .form-group:after {
  clear: both;
}
@media (min-width: 768px) {
  .form-horizontal .form-label {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
.input-sm {
  font-size: 15.8px !important;
}
.input-lg {
  font-size: 16.2px !important;
}
