/***********  tab *****/
.tab-container .tab-nav:before,
.tab-container .tab-nav:after {
  content: " ";
  display: table;
}
.tab-container .tab-nav:after {
  clear: both;
}
.tab-container .tab-nav li {
  float: left;
  padding: 4px 8px;
  margin-left: 2px;
  cursor: pointer;
}
.tab-container .tab-nav li.active {
  background: red;
}
.tab-container .tab-panel.active {
  display: block;
}
